<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @project.name %></h1>
    <br>
    <p><a href="/projects/<%= @project.id %>/stories/new">Add Story</a></p>
    <p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>
    <p><a href="/projects/<%= @project.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete Project</a></p>
    <p><a href="/projects">All Projects</a></p>
    <br>
    <h3><%= @project.description %></h3>
    <p><a><%= @project.link %></a></p>
    <br>
    <h3>User Stories</h3>
    <ul>
      <% @project.stories.each do |story| %>
      <li><p><%= story.name %></p>&nbsp;&nbsp;
        <a href="/projects/<%= @project.id %>/stories/<%= story.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow"><span class="glyphicon glyphicon-remove"></span></a></li>
      <% end %>
    </ul>
  </div>
</div>
