<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>New Story for <%= @story.project.name %></h1>
    <br>
    <p><a href="/projects/<%= @story.project_id %>"><%= @story.project.name %></a></p>
    <p><a href="/projects">All Projects</a></p>
    <br>
    <% if @story.errors.any? %>
      <h3>Please fix these errors:</h3>
      <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <h3>"As a <em>(role)</em>, I want <em>(goal/desire)</em>"</h3>
    <br>
    <form action="/projects/<%= @story.project.id %>/stories" method="post">
      <div class="form-group">
        <label for="story_name">User Story</label>
        <input id="story_name" class="form-control" name="story[name]" type="text" value="<%= @story.name %>">
      </div>
      <button class="btn btn-primary">Create Story</button>
    </form>
  </div>
</div>
